body {
    font-family: "Chivo", sans-serif;
    color: #e5eafa;
    background-color: #042504;
}



#home-main-container {
    background-color: #0C462D;
    width: 70vw;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 1px #003D27;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
/* logo section */
#home-info {
    margin: 20px 0px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #78fecf;
}

#main-logo {
    text-shadow: 2px 3px 1px #BE6e46;
    color: #e5eafa;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e5eafa;
}

#main-home-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 200px;
    border-bottom: 1px solid #78fecf
}

#login-signup, #spotify-lastfm {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #e5eafa;
    border: 1px solid white;
}

.btns-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    border: 1px solid white;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-row input {
    width: 75%;
    margin-top: 3px;
}

.login-signup-btn, .external-btn {
margin: 0px 5px;
font-size: 12px;
width: auto;
}

#spotify-lastfm-login-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}






#old-shit {
    display: none;
}