#options-div {
    border-radius: 5px;
    padding: 50px;
    width: 70vw;
    margin-top: 50px;
}

#options-box {
    padding: 25px;
}

#options-box {
    display: flex;
    flex-direction: row;
    border-radius: 3px;
}

.options-column {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.options-column select, button {
    width: 75%
}

#results-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 25px;
}

#results-row a {
    text-decoration: none;
    color: #e5eafa;
}

#results-row>div:nth-child(odd).artist-result:hover {
color: #FAF33E;
background-color: #942624;
border-radius: 50%;
transform: rotate(-5deg);
}

#results-row>div:nth-child(even).artist-result:hover {
color: #FAF33E;
background-color: #188C59;
border-radius: 50%;
transform: rotate(5deg);

}

#results-row>a:hover .artist-name {
    text-decoration: #00291a wavy underline;
}

.artist-result { 
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100px;
    padding: 10px;
}

.artist-plays {
    font-size: 11px;
}

.albums-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 10px;
    padding: 8px 10px;
}

#results-row>div:nth-child(odd).albums-item {
 background-color: #003D27;
 border-radius: 4px 2px 
}

.album-name {
    font-weight: bold;
}

#results-row>div:nth-child(odd).albums-item:hover{
    color: #FAF33E;
    background-color: #942624;
   }

#results-row>div:nth-child(even).albums-item:hover{
    color: #FAF33E;
    background-color: #188C59;
}