#lastfm-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh
}

#options-div {
    border-radius: 5px;
    padding: 50px;
    width: 70vw;
    margin-top: 50px;
}

#artists-selected-row {
    width: 100%;
}

#options-box {
    padding: 25px;
}

#options-box {
    display: flex;
    flex-direction: row;
    border-radius: 3px;
}


/* selected artists display at top of options box */

#selected-info-text {
    text-decoration: #2a68a2 wavy underline;
}

#selected-clear-text {
    text-decoration: #cf3c3a wavy underline;
    text-align: center;
}

#selected-clear-text:hover {
    text-decoration: #193e61 wavy underline;
    cursor: pointer;
    border-radius: 100%;
    box-sizing: border-box;
    color: #FAF33E;
}

#artists-selected-row {

}


.options-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.options-column select, button {
    width: 75%
}

#results-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 25px;
}

#results-row a {
    text-decoration: none;
    color: #e5eafa;
}

#results-row>div:nth-child(odd).artist-result:hover {
color: #FAF33E;
background-color: #942624;
border-radius: 50%;
transform: rotate(-5deg);
}

#results-row>div:nth-child(even).artist-result:hover {
color: #FAF33E;
background-color: #188C59;
border-radius: 50%;
transform: rotate(5deg);

}

#results-row>div:hover .artist-name {
    text-decoration: #00291a wavy underline;
}

.artist-result, .artist-result-selected { 
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100px;
    padding: 10px;
}

.artist-result-selected {
    background-color: #78fecf;
    border-radius: 70% 50% 60% 30%;
    transform: rotate(-2deg);
    color: #884d30;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 20px;
}

#results-row>div:nth-child(odd).artist-result-selected {
    background-color: #98ADEC;
    transform: rotate(6deg);
    border-radius: 30% 50%;
}

.add-btn {
    margin-left: 30px;
    display: none;
    background-color: #78fecf;
    color: #102156;
    font-weight: bolder;
    padding: 3px;
    border-radius: 50%;
}

.add-btn:hover {
    background-color: #102156;
    color: #FAF33E;
    cursor: pointer;
}

.btn-hide {
    display: none !important;
    font-size: 100px;
}

.artist-result-unpick-hide {
    display: none;
}

.artist-result-unpick-active {
    /* background-color: #942624; */
    color: #4168DC;
    border-radius: 50%;
    padding: 3px;
}

.artist-result-unpick-active:hover {
    background-color: #CF3C3a;
    font-weight: bolder;
    color: #19358A;
    cursor: pointer;
}

#results-row>div:hover .add-btn {
    display: block;
}

.artist-plays {
    font-size: 11px;
}

.albums-item, .tracks-item {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 5px 10px;
    padding: 5px 8px;
}

#results-row>div:nth-child(odd).albums-item, #results-row>div:nth-child(odd).tracks-item {
 background-color: #003D27;
 border-radius: 4px 2px 
}

.album-name, .track-name {
    font-weight: bold;
}

#results-row>div:nth-child(odd).albums-item:hover, #results-row>div:nth-child(odd).tracks-item:hover{
    color: #FAF33E;
    background-color: #942624;
   }

#results-row>div:nth-child(even).albums-item:hover, #results-row>div:nth-child(even).tracks-item:hover{
    color: #FAF33E;
    background-color: #188C59;
}

.track-name {
    border-bottom: 1px solid #78fecf;
    text-shadow: 2px 2px 1px #102156;

}